.DS_Store
vgac_tagging/__pycache__
grid_offset_prediciton/__pycache__/
grid_offset_prediction/saved/
grid_offset_prediction/offsets.svg
grid_offset_prediction/loz_errors/
grid_offset_prediction/loz_tile_sets/
./vgac_tagging/games
