.title h1 {
    color: red;
    text-align: center;
}

.affordances img {
    position: absolute;
    left: 50px;
    top: 100px;
}

.screenshot img{
    position: absolute;
    left: 800px;
    top: 100px;
}

.tagging img{
    position: absolute;
    left: 1100px;
    top: 125px;
}

.gridActions img{
    position: absolute;
    left: 800px;
    top: 350px;
}

.instructions {
    position: absolute;
    left: 800px;
    top: 400px;
}