<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>Video Game Affordanes</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="css/styles.css?v=1.0">
</head>

<body>
    <div>
        <script src="js/scripts.js"></script>
        <link href="style.css" rel="stylesheet">
    </div>

    <div class="title">
        <h1>Video Game Affordanes</h1>
    </div>

    <div class="affordances">
        <img src="affordances.png" width="590.25" height="518.25">
    </div>

    <div class ="screenshot">
        <img src="screenshot.png" width="256" height="224">
    </div>

    <div class ="tagging">
            <img src="tagging.png" width="132" height="132">
    </div>

    <div class ="gridActions">
            <img src="grid_actions.png" width="281" height="65">
    </div>

    <div class ="instructions">
         <h1>Instructions</h1>

         <p> instructions, explains black/white/grey & what each of the affordances mean </p>
    </div>
    
</body>

</html>