<h1>Add an Annotation</h1>
<form action="#" method="post">
   <div class="form-group">
       <label for="img_id">Img_id:</label>
       <input type="text" maxlength="100" name="img_id" placeholder="Name of the image">

       <label for="tagger_id">Tagger_id:</label>
       <input maxlength="100" name="tagger_id" placeholder="Name of the tagger">

       <label for="affordance">Affordance:</label>
       <input maxlength="100" name="affordance" placeholder="Affordance number">

       <label for="tags">Affordance:</label>
       <input maxlength="100" name="tags" placeholder="tag binary data">

       <button type="submit">Create</button>
   </div>
</form>
