#title h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30pt;
    text-align: center;
}

.grid 
{
    display: grid;
    height: 798px;
    width: 808px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 20px;
}

.container canvas 
{
    position: absolute;
    opacity:0.7;
    top:0; left:0;
}

.grid img:hover{
    opacity: 0.5;
}

.name_af
{
    position: absolute;
    top: -30px;
}
.container 
{
    position: relative;
    width: 256px;
    height: 224px;
}

#screen_preview {
    left: 900px;
    top: 100px;
    position: absolute;

}

.container img
{
    width: 100%;
    height: 100%;
}

#tagging img{
    position: absolute;
    left: 1200px;
    top: 125px;
}

#gridActions img{
    position: absolute;
    left: 900px;
    top: 350px;
}

#instructions {
    position: absolute;
    left: 900px;
    top: 400px;
}


  .buttons {
    position: absolute;
    left: 1225px;
    top: 300px;
    width: 81px;
    margin: 50px auto;
    padding-left: 5px;
  }