/* @import url(https://fonts.googleapis.com/css?family=Mr+Dafoe); */
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
/* @import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Candal);

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

@import url(https://fonts.googleapis.com/css?family=Monoton); */
body {
    background-color: #f5f2e6;
}

#title h1 {
    text-align: center;
    background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px #000000;
    font-size: 60px;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    line-height: 1;
}

.grid
{
    display: grid;
    height: 798px;
    width: 808px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 20px;
}

.container canvas
{
    position: absolute;
    opacity:0.7;
    top:0; left:0;
}

.container1
{
    position: relative;
    width: 808px;
    height: 712px;
}

.container1 canvas
{
    position: absolute;
    opacity:0.7;
    top:0; left:0;
}

#name_big
{
    position: relative;
    top: -716px;
    left: 80px;
    color: #605833; font-family: Georgia, arial, serif;
}

.button_close
{
    position: absolute;
    top: -25px;
    left: 450px;
    color: #605833; font-family: Georgia, arial, serif;
}

.name_af
{
    position: absolute;
    top: 229px;
    left: 80px;
    color: #605833; font-family: Georgia, arial, serif;
}
.container
{
    position: relative;
    width: 256px;
    height: 224px;
}


/* #screen_preview {
    left: 900px;
    top: 140px;
    position: absolute;

} */

.container img
{
    width: 100%;
    height: 100%;
}

/* #tagging img{
    position: absolute;
    left: 1200px;
    top: 140px;
} */

#instructions
{
    font-family: Georgia, arial, serif; font-size: 16px;
    /* position: absolute;
    left: 1200px;
    top: 286px; */
}

#instructions_e
{
    color: #605833; font-family: Georgia, arial, serif;
    /* position: absolute;
    left: 1200px;
    top: 330px; */
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* #buttons
{
    position: absolute;
    left: 900px;
    top: 409px;
}

#grid_buttons
{
    position: absolute;
    left: 900px;
    top: 485px;
}

#grid_controls
{
    position: absolute;
    left: 900px;
    top: 561px;
} */

#b_save
{
    border: none;
    color: white;
    padding: 22px;
    width:128px;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#b_save:hover {opacity: 1}

#b_reset
{
    border: none;
    color: white;
    padding: 22px;
    width:128px;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#b_reset:hover {opacity: 1}

#b_grid
{
    border: none;
    color: white;
    padding: 22px;
    width:128px;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#b_grid:hover {opacity: 1}

#b_grid_save
{
    border: none;
    color: white;
    padding: 22px;
    padding-left: 16px;
    width:128px;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#b_grid_save:hover {opacity: 1}

#b_grid_reset
{
    border: none;
    color: white;
    padding: 22px;
    padding-left: 10px;
    width:128px;
    text-align: right;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#b_grid_reset:hover {opacity: 1}


#b_grid_up
{
    border: none;
    color: white;
    padding: 22px;
    width:128px;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#b_grid_up:hover {opacity: 1}



#b_grid_left
{
    border: none;
    color: white;
    padding: 22px;
    width:128px;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#b_grid_left:hover {opacity: 1}

#b_grid_right
{
    border: none;
    color: white;
    padding: 22px;
    width:128px;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#b_grid_right:hover {opacity: 1}

#b_grid_down
{
    border: none;
    color: white;
    padding: 22px;
    width:128px;
    text-align: center;
    font-size: 16px;
    margin: 4px 0px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
#b_grid_down:hover {opacity: 1}


#curr_tiles{
     text-align: center;
     font-size: 18px;
}



body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 808px;
}

/* Middle column */
/* .column.middle {
  width: 30%;
} */

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
