#title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30pt;
    text-align: center;
}

.grid {
    display: grid;
    height: 712px;
    width: 808px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 20px;
}

.grid img:hover{
    opacity: 0.3;
}

#affordancesTitle{
    font-size: 100pt;
}

#screenshotContainer {
    position: absolute;
    left: 900px;
    top: 100px;
    width: 256px;
    height: 224px;
}

#screenshotContainer img{
    width: 100%;
    height: 100%;

}
#screenshotContainer canvas {
    position: absolute;
    background: blue;
    top: 0px;
    left: 0px;
}

#taggingContainer{
    position: absolute;
    left: 1200px;
    top: 125px;
}
#taggingContainer img{
    position: relative;
}
#taggingContainer p{
    position: relative;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


#gridActions img{
    position: absolute;
    left: 900px;
    top: 350px;
}

#instructions {
    position: absolute;
    left: 900px;
    top: 400px;
}
.bold {
    font-weight: bold;
  }